extends layout

block content
  h1= title
  p A stock manager for the noodle master in your life

  h2 Summary
//-
  if error 
    p Error getting dynamic content 
  else 
    p !{title} has the following record counts

    ul 
      li #[strong Ingredients:] !{data.ingredient_count}
      li #[strong Recipes:] !{data.recipe_count}
      //