extends layout 

block content 
    h1=title

    p #[strong Description: ] #{description}
    hr
    h4 Ingredients 
    ul 
        each ingredient in ingredients
            li 
                a(href=ingredient.url) #{ingredient.name}